<div class="home-page">
    <div class="banner">
        <div class="container">
            <h1 class="logo-font">Sempiternal</h1>
            <p>A place to where you go around.</p>
        </div>
    </div>
    <div class="container page">
        <div class="row">

            <div class="col-md-9">
                <div class="feed-toggle">
                    <ul class="nav nav-pills outline-active">
                        <li class="nav-item">
                            <a class="nav-link" *ngIf="localstorage">Your Feed</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [ngClass]="global ? 'active' : ''" (click)="handleGlobal()">Global
                                Feed</a>
                        </li>
                        <li class="nav-item active" *ngIf="checkTabTag">
                            <a class="nav-link active">#{{ nameTag }}</a>
                        </li>
                    </ul>
                </div>

                <div class="article-preview" *ngFor="let feed of listArticle">
                    <div class="article-meta">
                        <a href="profile.html"><img [src]="feed.author.image" /></a>
                        <div class="info">
                            <a href="" class="author">{{ feed?.author?.username }}</a>
                            <span class="date"> {{ feed?.createdAt | date }}</span>
                        </div>
                        <button class="btn btn-outline-primary btn-sm pull-xs-right" (click)="handleFavorite(feed.favorited)">
                            <i class="ion-heart"></i> {{ feed?.favoritesCount }}
                        </button>
                    </div>
                    <a class="preview-link" (click)="handleArticle()">
                        <h1> {{ feed?.body }}</h1>
                        <p> {{ feed?.description }}</p>
                        <span>Read more...</span>
                    </a>
                    <ul class="tag-list">
                        <li class="tag-default tag-pill tag-outline ng-binding ng-scope"
                            *ngFor="let item of feed.tagList" (click)="handleTag(item)">
                            {{ item }}
                            </li>
                    </ul>
                </div>

            </div>

            <div class="col-md-3">
                <div class="sidebar">
                    <p>Popular Tags</p>

                    <div class="tag-list">
                        <a class="tag-pill tag-default" *ngFor="let tag of listTags" (click)="handleTag(tag)"> {{ tag }}
                        </a>
                    </div>
                </div>
            </div>

            <nav>
                <ul class="pagination">
                    <li class="page-item" *ngFor="let page of pages; index as i"
                        [ngClass]="i*10 === currentIndex ? 'active' : ''">
                        <a class="page-link ng-binding" (click)="handlePagination(10*i)"> {{ page }} </a>
                    </li>
                </ul>
            </nav>

        </div>
    </div>

</div>