<div class="home-page">
    <div class="banner">
        <div class="container">
            <h1 class="logo-font">Sempiternal</h1>
            <p>A place to where you go around.</p>
        </div>
    </div>
    <div class="container page">
        <div class="row">

            <div class="col-md-9">
                <div class="feed-toggle">
                    <ul class="nav nav-pills outline-active">
                        <li class="nav-item">
                            <a class="nav-link disabled" href="">Your Feed</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="">Global Feed</a>
                        </li>
                    </ul>
                </div>

                <div class="article-preview" *ngFor="let feed of feedsArticle">
                    <div class="article-meta">
                        <a href="profile.html"><img [src]="feed.author.image" /></a>
                        <div class="info">
                            <a href="" class="author">{{ feed.author.username }}</a>
                            <span class="date"> {{ feed.createdAt | date }}</span>
                        </div>
                        <button class="btn btn-outline-primary btn-sm pull-xs-right">
                            <i class="ion-heart"></i> {{ feed.favoritesCount }}
                        </button>
                    </div>
                    <a href="" class="preview-link">
                        <h1> {{ feed.body }}</h1>
                        <p> {{ feed.description }}</p>
                        <span>Read more...</span>
                    </a>
                </div>

            </div>

            <div class="col-md-3">
                <div class="sidebar">
                    <p>Popular Tags</p>

                    <div class="tag-list">
                        <a href="" class="tag-pill tag-default">programming</a>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>