<div class="article-page">

    <div class="banner">
        <div class="container">

            <h1> {{ article?.title }}</h1>

            <div class="article-meta">
                <a [routerLink]="['/profile', article?.author?.username]"><img [src]="article?.author?.image" /></a>
                <div class="info">
                    <a [routerLink]="['/profile', article?.author?.username]" class="author">
                        {{ article?.author?.username }} </a>
                    <span class="date"> {{ article?.createdAt | date }}</span>
                </div>
                <button class="btn btn-sm btn-outline-primary" *ngIf=!isAuthor
                    (click)="handleFollow(article?.author?.following,article?.author?.username)">
                    <i class="ion-plus-round"></i>
                    &nbsp;
                    {{renderFollow}} {{ article?.author?.username }} <span
                        class="counter"></span>
                </button>
                &nbsp;
                <button class="btn btn-sm btn-outline-primary" *ngIf="!isAuthor "
                    (click)="handleFavorite(article?.favorited)">
                    <i class="ion-heart"></i>
                    &nbsp;
                    {{renderFavorite}} Post <span class="counter">({{ article?.favoritesCount }})</span>
                </button>
                &nbsp;
                <button class="btn btn-sm btn-outline-secondary" *ngIf=isAuthor (click)="handleEditArticle()">
                    <i class="ion-edit"></i>
                    &nbsp;
                    Edit Article
                </button>
                &nbsp;&nbsp;
                <button class="btn btn-sm btn-outline-danger" *ngIf=isAuthor (click)="handleDeleteArticle()">
                    <i class="ion-trash-a"></i>
                    &nbsp;
                    Delete Article
                </button>
            </div>

        </div>
    </div>

    <div class="container page">

        <div class="row article-content">
            <div class="col-md-12">
                <p>
                    <markdown class="variable-binding" [data]="article?.body"></markdown>
                </p>
                <ul class="tag-list">
                    <li class="tag-default tag-pill tag-outline" *ngFor="let tag of article?.tagList">{{tag}}</li>
                  </ul>
            </div>
        </div>

        <hr />

        <div class="article-actions">
            <div class="article-meta">
                <a [routerLink]="['/profile', article?.author?.username]"><img [src]="article?.author?.image" /></a>
                <div class="info">
                    <a [routerLink]="['/profile', article?.author?.username]"
                        class="author">{{ article?.author?.username }}</a>
                    <span class="date">{{ article?.createdAt | date: 'longDate' }}</span>
                </div>

                <button class="btn btn-sm btn-outline-secondary" *ngIf="!isAuthor "
                    (click)="handleFollow( article?.author?.following, article?.author?.username )">
                    <i class="ion-plus-round"></i>
                    &nbsp;
                    {{renderFollow}} {{ article?.author?.username }} <span
                        class="counter"></span>
                </button>
                &nbsp;
                <button class="btn btn-sm btn-outline-secondary" *ngIf="!isAuthor "
                    (click)="handleFavorite(article?.favorited)">
                    <i class="ion-heart"></i>
                    &nbsp;
                    {{renderFavorite}} Post <span class="counter">({{ article?.favoritesCount }})</span>
                </button>
                &nbsp;
                <button class="btn btn-sm btn-outline-secondary" *ngIf="isAuthor" (click)="handleEditArticle()">
                    <i class="ion-edit"></i>
                    &nbsp;
                    Edit Article
                </button>
                &nbsp;&nbsp;
                <button class="btn btn-sm btn-outline-danger" *ngIf="isAuthor" (click)="handleDeleteArticle()">
                    <i class="ion-trash-a"></i>
                    &nbsp;
                    Delete Article
                </button>
            </div>
        </div>

        <div class="row">

            <div class="col-xs-12 col-md-8 offset-md-2">

                <form class="card comment-form" [formGroup]="commentForm" (ngSubmit)="handleComment()">
                    <div class="card-block">
                        <textarea class="form-control" placeholder="Write a comment..." rows="3"
                            formControlName="body"></textarea>
                    </div>
                    <div class="card-footer">
                        <img src="http://i.imgur.com/Qr71crq.jpg" class="comment-author-img" />
                        <button class="btn btn-sm btn-primary">
                            Post Comment
                        </button>
                    </div>
                </form>

                <div class="card" *ngFor="let comment of comments">
                    <div class="card-block">
                        <p class="card-text">{{comment?.body}}</p>
                    </div>
                    <div class="card-footer">
                        <a href="" class="comment-author">
                            <img [src]="comment?.author?.image" class="comment-author-img" />
                        </a>
                        &nbsp;
                        <a href="" class="comment-author">{{comment?.author?.username}}</a>
                        <span class="date-posted">{{comment?.createdAt | date}}</span>
                        <span class="mod-options">
                            <i class="ion-trash-a" (click)="handleDeleteComment(comment?.id)"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>