<div class="auth-page">
    <div class="container page">
        <div class="row">

            <div class="col-md-6 offset-md-3 col-xs-12">
                <h1 class="text-xs-center">Sign In</h1>
                <p class="text-xs-center">
                    <a routerLink="/signup">Need an account?</a>
                </p>

                <ul class="error-messages" *ngIf="submitted && errors">
                    <li *ngFor="let error of errorList">{{error}}</li>
                </ul>

                <form [formGroup]="user" (ngSubmit)="onSubmit()">
                    <fieldset class="form-group">
                        <input class="form-control form-control-lg" type="text" placeholder="Email" formControlName="email">
                    </fieldset>
                    <fieldset class="form-group">
                        <input class="form-control form-control-lg" type="password" placeholder="Password" formControlName="password">
                    </fieldset>
                    <button class="btn btn-lg btn-primary pull-xs-right" type="submit" (click)="clearError()">
                        Sign in
                    </button>
                </form>
            </div>

        </div>
    </div>
</div>