<div class="auth-page">
    <div class="container page">
        <div class="row">

            <div class="col-md-6 offset-md-3 col-xs-12">
                <h1 class="text-xs-center">Sign In</h1>
                <p class="text-xs-center">
                    <a routerLink="/signup">Need an account?</a>
                </p>

                <ul class="error-messages">
                    <li *ngIf="submitted && user.controls.email.errors?.email">That email is invalid</li>
                    <li *ngIf="submitted && user.controls.email.errors?.required">Email is required</li>
                    <li *ngIf="submitted && user.controls.password.errors?.minlength">That password is too short</li>
                    <li *ngIf="submitted && user.controls.password.errors?.required">Password is required</li>
                    <li *ngIf="submitted && error">{{error}}</li>   
                </ul>

                <form [formGroup]="user" (ngSubmit)="onSubmit()">
                    <fieldset class="form-group">
                        <input class="form-control form-control-lg" type="text" placeholder="Email" formControlName="email">
                    </fieldset>
                    <fieldset class="form-group">
                        <input class="form-control form-control-lg" type="password" placeholder="Password" formControlName="password">
                    </fieldset>
                    <button class="btn btn-lg btn-primary pull-xs-right" type="submit">
                        Sign in
                    </button>
                </form>
            </div>

        </div>
    </div>
</div>